# ==================================
# Spring Boot & Build Tools (Maven/Gradle)
# ==================================

# Build output
/build/
/target/

# Gradle
.gradle/
!wrapper/gradle-wrapper.jar

# Maven
.mvn/
mvnw
mvnw.cmd

# Compiled Java class files
*.class

# Log files
*.log

# ==================================
# IDE (IntelliJ, VSCode)
# ==================================

# IntelliJ
.idea/
*.iml
*.iws

# VSCode
.vscode/

# ==================================
# Credentials & Secrets (!!! 중요 !!!)
# ==================================

# Firebase Admin SDK Service Account Key
*.json

# AWS Credentials
.aws/

# Environment variables
.env

# .yml 파일들을 확실히 무시하도록 수정
/src/main/resources/application-local.yml
application-local.yml
application-dev.yml
application-prod.yml

# ==================================
# OS (Mac, Windows)
# ==================================

# Mac
.DS_Store

# Windows
Thumbs.db

# Firebase
src/main/resources/firebase-service-account.json

# login_html
src/main/resources/static/login_test.html