name: Java CI/CD to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Gradle
        run: |
          chmod +x ./gradlew
          ./gradlew build

      # 4. .jar 파일 이름을 'app.jar'로 변경
      - name: Rename JAR file
        run: |
          mv build/libs/${{ secrets.JAR_FILE_NAME }} build/libs/app.jar

      # 5. 'app.jar' 파일을 EC2로 전송 (rename 옵션 제거)
      - name: Deploy to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST_IP }}
          username: ${{ secrets.HOST_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "build/libs/app.jar"  # <-- 이름을 바꾼 app.jar를 복사
          target: "~/fiv5"            # <-- rename 옵션 제거

      # 6. EC2에서 배포 스크립트 실행
      - name: Execute Deploy Script
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_IP }}
          username: ${{ secrets.HOST_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            bash ~/deploy.sh